#!/usr/bin/env python3
# -*- coding: utf-8 -*-

# Simple script to send photo + text
# Usage: ./telegram.py /tmp/some_photo.jpg "Some text"

import sys              # args support
import urllib.request   # for GET
import requests         # for send keyboards and photos

# -------------------------------------------------------
token = '{{ token }}'
chat_id = '{{ chat_id }}'
url_base = '{{ url_base }}'
url_send_photo = '{{ url_send_photo }}'

silent_send = 'false'
send_file_name = 'dummy.jpg'
photo_path = sys.argv[1]
photo_text = sys.argv[2]

# -------------------------------------------------------

def send_photo(photo, text = 'dummy'):  
  fileobj = open(photo, 'rb')                         # open photo
  send_photo_url = url_base + token + url_send_photo  # assemble URL
  data = {"chat_id": chat_id, "disable_notification": silent_send, "caption": text}   # assemble data string
  r = requests.post(send_photo_url, data, files={"photo": (send_file_name, fileobj)} )    # send POST request
  fileobj.close()                                 # close photo file
# --------------------------------------------------------------------------

send_photo(photo_path, photo_text)

