# Config for camera {{ cam_name }}

# Camera device
{% if ipcam %}
netcam_url {{ videodevice }}
{% else %}
videodevice {{ videodevice }}
{% endif %}


# Set cam output format
v4l2_palette {{ v4l2_palette }}

# Camera text
text_left {{ text_left }}

# Output options
output_pictures {{ output_pictures }}

ffmpeg_output_movies {{ ffmpeg_output_movies }}

# Actions on movie record
{% if on_movie_start %}
on_movie_start "{{ on_movie_start }}"
{% endif %}

{% if on_movie_end %}
on_movie_end "{{ on_movie_end }}"
{% endif %}


# Camera rotation
rotate {{ rotate }}

# Camera resolution
width {{ width }}
height {{ height }}

# Camera framerate
framerate {{ framerate }}

# Storage location
target_dir {{ target_dir }}

# Camera stream port
stream_port {{ stream_port }}

# Set mask file to prevent false alarms
{% if mask_file %}
mask_file {{ mask_file }}
{% endif %}

# Set autobrightness
auto_brightness {{ auto_brightness }}

